@keyframes wrapperAnimation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes circleAnimation {
  0%,
  25% {
    stroke-dashoffset: 270;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 270;
    transform: rotate(360deg);
  }
}

.wrapper {
  width: var(--size);
  height: var(--size);

  animation: wrapperAnimation 2s linear infinite;
  animation-delay: -1.5s;
}

.circle {
  animation: circleAnimation 1.4s ease-in-out infinite both;
  animation-delay: -1.05s;
  display: block;
  fill: transparent;
  stroke: var(--color);
  stroke-dasharray: 283;
  stroke-dashoffset: 75;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

.primary {
  --color: var(--color-gs0);
}

.secondary {
  --color: var(--color-gs1000);
}

.large {
  --size: 32px;
}

.medium {
  --size: 18px;
}


.small {
  --size: 15px;
}
