.button {
  display: flex;
  align-items: center;
  justify-content: center;  

  outline: none;
  position: relative;

  white-space: nowrap;

  font-weight: 600;

  font-size: 16px;
  font-family: inherit;
  line-height: 24px;
  color: var(--color-gs1000);

  appearance: none !important; /* NOTE: Required for Safari. */

  &:hover {
    background-color: var(--color-gs400);
    color: var(--color-gs1000);
  }
  
  &:disabled {
    .primary {
      background-color: color-mix(in oklab, var(--color-b5000) 40%, transparent);
      color: var(--color-gs100);
    }

    .secondary {
      background-color: color-mix(in oklab, var(--color-gs300) 40%, transparent);
      color: color-mix(in oklab, var(--color-gs1000) 40%, transparent);
    }

    .destructive {
      background-color: color-mix(in oklab, var(--color-r300) 40%, transparent);
      color: var(--color-gs100);
    }

    .destructive-inverted {
      background-color: color-mix(in oklab, var(--color-gs0) 40%, transparent);
      color: var(--color-gs100);
    }
  }
}

.multiline {
  height: auto;
  min-height: 48px;

  white-space: normal;
  word-break: break-all;
}

.full-width {
  width: 100%;
}

.small {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.medium {
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.large {
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
}

.primary {
  background-color: var(--color-b500);
  color: var(--color-gs0);

  &:hover {
    background-color: var(--color-b600);
  }

  &:active {
    background-color: var(--color-b700);
  }

  &:focus {
    background-color: var(--color-b700);
  }
}

.secondary {
  background-color: var(--color-gs300);
  color: var(--color-gs1000);

  &:hover {
    background-color: var(--color-gs400);
    color: var(--color-gs1000);
  }

  &:active {
    background-color: var(--color-gs1000);
    color: var(--color-gs0);
  }

  &:focus {
    background-color: var(--color-gs500);
    color: var(--color-gs1000);
  }
}

.destructive {
  background-color: var(--color-r300);
  color: var(--color-gs0);

  &:hover {
    background-color: var(--color-r400);
    color: var(--color-gs0);
  }

  &:active {
    background-color: var(--color-r500);
  }

  &:focus {
    background-color: var(--color-r500);
  }
}

.destructive-inverted {
  background-color: var(--color-gs0);
  color: var(--color-r300);

  &:hover {
    background-color: var(--color-gs100);
    color: var(--color-r300);
  }

  &:active {
    background-color: var(--color-gs100);
  }

  &:focus {
    background-color: var(--color-gs100);
  }
}

.icon-container {
  display: flex;
  align-self: center;

  + span {
    padding-left: 10px;
  }
}

.label-loading {
  visibility: hidden;
}

.label {
  display: flex;

  > span + .icon-container {
    padding-left: 10px;
  }
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
